h1{
    padding: 6px 12px;
    color: #ff69b4;
    font-size: 40px
}

h2 {
    padding: 3px 6px;
    color: #8b0000;
}

h4 {
    color: #8b0000;

}

.box1{
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #ffc0cb;
    box-shadow: 0px 0px 0px 20px #ffc0cb;
    border: dashed 2px white;
}
.box1 p {
    margin: 0;
    padding: 0;
}
