h2 {
    background: #c2edff;
    padding:5px;
}


h3 {
    padding: 3px 6px;
    color: #000000;
    background: transparent;
}

p {
    padding: 3px 6px;
    color: #079878;
    background: transparent;
}
